# Implied Volatility Surprise Regressions
- regress implied volatility surprises on language scores, controlling for policy factors

In [21]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
from datetime import datetime
from pathlib import Path
import os
import matplotlib.pyplot as plt
from stargazer.stargazer import Stargazer
from IPython.core.display import display, HTML
from sklearn.linear_model import LinearRegression
from sklearn.decomposition import PCA
pd.set_option('display.max_rows', 10)

/var/folders/s6/xgx8wq8n63q742dx4hm1b4l00000gn/T/ipykernel_46866/2136421649.py:9: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython.display
  from IPython.core.display import display, HTML

In [22]:
# Read in country scores data
countries = ['fomc','ecb','boe']
fomc = []
ecb = []
boe = []
dfs = [fomc, boe, ecb]
for country in countries:
    semantic_scores = pd.read_excel("text_scores.xlsx", sheet_name=country, usecols = ['Date','fk_score','dc_score','wc'])
    conceptual_scores = pd.read_excel("CCI/CCI_scores.xlsx", sheet_name=country, usecols = ['Date','PoJ','CCI'])
    factors = pd.read_excel("factors.xlsx", sheet_name=country, usecols = ['Date', 'Target', 'Path', 'QE'])
    
    semantic_scores['Date'] = pd.to_datetime(semantic_scores['Date']).dt.date
    conceptual_scores['Date'] = pd.to_datetime(conceptual_scores['Date']).dt.date
    factors['Date'] = pd.to_datetime(factors['Date']).dt.date

    scores = pd.merge(semantic_scores, conceptual_scores, on='Date')
    scores = pd.merge(scores, factors, on='Date')
    dfs[countries.index(country)] = scores

fomc = dfs[0]
ecb = dfs[1]
boe = dfs[2]

## FOMC Regressions

In [23]:
#Read in VIX Data
vix = pd.read_excel('volatility_data.xlsx',sheet_name='VIX',usecols=['Date','Price'])
vix['Date'] = pd.to_datetime(vix['Date'], errors='coerce')
vix['pct_change'] = vix['Price'].pct_change()
vix

           Date  Price  pct_change
0    2004-11-10  13.08         NaN
1    2004-11-11  13.04   -0.003058
2    2004-11-12  13.33    0.022239
3    2004-11-15  13.38    0.003751
4    2004-11-16  13.21   -0.012706
...         ...    ...         ...
5047 2024-11-04  21.98    0.004570
5048 2024-11-05  20.49   -0.067789
5049 2024-11-06  16.27   -0.205954
5050 2024-11-07  15.20   -0.065765
5051 2024-11-08  14.94   -0.017105

[5052 rows x 3 columns]

In [24]:
fomc['Date'] = pd.to_datetime(fomc['Date'])
vix['Date'] = pd.to_datetime(vix['Date'])

In [25]:
fomc_combined = pd.merge(fomc, vix, on='Date', how='inner')
fomc_combined = fomc_combined.dropna()
fomc_combined.rename(columns={'Target': 'target', 'Path': 'path'}, inplace=True)
fomc_combined

,Date,fk_score,dc_score,wc,PoJ,CCI,target,path,QE,Price,pct_change
1,2004-12-14,14.600000,9.780000,166,0.037037,0.053715,0.006821,-0.009112,0.003982,12.73,0.015152
2,2005-02-02,14.600000,9.710000,165,0.037267,0.054049,0.001001,-0.019184,0.006297,11.66,-0.030756
3,2005-03-22,13.800000,9.700000,196,0.041667,0.066314,0.049127,0.157422,-0.025618,14.27,0.048494
4,2005-05-03,13.600000,9.650000,188,0.038251,0.060157,0.023252,0.038442,0.004470,14.53,-0.039021
5,2005-06-30,14.600000,9.980000,166,0.043210,0.067955,0.052535,0.062076,0.015680,12.04,0.022940
...,...,...,...,...,...,...,...,...,...,...,...
146,2023-06-14,14.133333,9.786667,309,0.098980,0.165245,0.020335,0.163058,0.006125,13.88,-0.049966
147,2023-07-26,14.166667,9.466667,297,0.105808,0.178526,0.011788,0.015831,0.004307,13.19,-0.048341
148,2023-09-20,14.900000,9.870000,301,0.097360,0.154412,0.044047,0.115062,0.008971,15.14,0.072998
149,2023-11-01,14.000000,9.843333,310,0.093333,0.160756,-0.002114,-0.008679,0.003169,16.87,-0.070011
150,2023-12-13,13.600000,9.523333,322,0.104842,0.178767,0.008493,-0.169867,0.011695,12.19,0.009942

In [26]:
fomc_combined['target_positive'] = fomc_combined['target'].apply(lambda x: x if x > 0 else 0)
fomc_combined['target_negative'] = fomc_combined['target'].apply(lambda x: x if x < 0 else 0)
fomc_combined['path_positive'] = fomc_combined['path'].apply(lambda x: x if x > 0 else 0)
fomc_combined['path_negative'] = fomc_combined['path'].apply(lambda x: x if x < 0 else 0)
fomc_combined['qe_positive'] = fomc_combined['QE'].apply(lambda x: x if x > 0 else 0)
fomc_combined['qe_negative'] = fomc_combined['QE'].apply(lambda x: x if x < 0 else 0)

In [27]:
fomc_models = [
    {
        'name': 'FK',
        'formula': 'pct_change ~ fk_score + target + path + QE'
    },
    {
        'name': 'DC',
        'formula': 'pct_change ~ dc_score + target + path + QE'
    },
    {
        'name': 'CCI',
        'formula': 'pct_change ~ CCI + target + path + QE'
    },
    {
        'name': 'FK (Separated Surprises)',
        'formula': 'pct_change ~ fk_score + target_positive + target_negative + path_positive + path_negative + qe_positive + qe_negative'
    },
    
    {
        'name': 'DC (Separated Surprises)',
        'formula': 'pct_change ~ dc_score + target_positive + target_negative + path_positive + path_negative + qe_positive + qe_negative'
    },
    {
        'name': 'CCI (Separated Surprises)',
        'formula': 'pct_change ~ CCI + target_positive + target_negative + path_positive + path_negative + qe_positive + qe_negative'
    }
]

fomc_results = []
for model in fomc_models:
    regression = smf.ols(formula=model['formula'], data=fomc_combined)
    results = regression.fit()
    fomc_results.append(results)

In [28]:
# Latex Output for FOMC regressions
stargazer = Stargazer(fomc_results)
stargazer.custom_columns([model['name'] for model in fomc_models], [1 for _ in fomc_models])

latex_table = stargazer.render_latex()

print(latex_table)
with open("regression_table.tex", "w") as f:
    f.write(latex_table)

\begin{table}[!htbp] \centering
\begin{tabular}{@{\extracolsep{5pt}}lcccccc}
\\[-1.8ex]\hline
\hline \\[-1.8ex]
& \multicolumn{6}{c}{\textit{Dependent variable: pct_change}} \
\cr \cline{2-7}
\\[-1.8ex] & \multicolumn{1}{c}{FK} & \multicolumn{1}{c}{DC} & \multicolumn{1}{c}{CCI} & \multicolumn{1}{c}{FK (Separated Surprises)} & \multicolumn{1}{c}{DC (Separated Surprises)} & \multicolumn{1}{c}{CCI (Separated Surprises)}  \\
\\[-1.8ex] & (1) & (2) & (3) & (4) & (5) & (6) \\
\hline \\[-1.8ex]
 CCI & & & -0.129$^{}$ & & & -0.069$^{}$ \\
& & & (0.175) & & & (0.188) \\
 Intercept & -0.093$^{}$ & -0.466$^{**}$ & -0.009$^{}$ & -0.075$^{}$ & -0.467$^{**}$ & -0.005$^{}$ \\
& (0.056) & (0.206) & (0.019) & (0.059) & (0.209) & (0.019) \\
 QE & -0.008$^{}$ & -0.007$^{}$ & -0.013$^{}$ & & & \\
& (0.449) & (0.445) & (0.451) & & & \\
 dc_score & & 0.045$^{**}$ & & & 0.047$^{**}$ & \\
& & (0.021) & & & (0.021) & \\
 fk_score & 0.005$^{}$ & & & 0.004$^{}$ & & \\
& (0.004) & & & (0.004) & & \\
 path & 0.040$^{}$ & 0.036$^{}$ & 0.032$^{}$ & & & \\
& (0.161) & (0.159) & (0.162) & & & \\
 path_negative & & & & 0.285$^{}$ & 0.284$^{}$ & 0.288$^{}$ \\
& & & & (0.279) & (0.275) & (0.281) \\
 path_positive & & & & -0.144$^{}$ & -0.146$^{}$ & -0.168$^{}$ \\
& & & & (0.242) & (0.238) & (0.242) \\
 qe_negative & & & & 0.246$^{}$ & 0.400$^{}$ & 0.075$^{}$ \\
& & & & (0.929) & (0.918) & (0.924) \\
 qe_positive & & & & 0.112$^{}$ & 0.067$^{}$ & 0.173$^{}$ \\
& & & & (0.567) & (0.560) & (0.567) \\
 target & 0.277$^{}$ & 0.270$^{}$ & 0.265$^{}$ & & & \\
& (0.251) & (0.248) & (0.253) & & & \\
 target_negative & & & & 0.162$^{}$ & 0.177$^{}$ & 0.178$^{}$ \\
& & & & (0.390) & (0.384) & (0.395) \\
 target_positive & & & & 0.233$^{}$ & 0.183$^{}$ & 0.220$^{}$ \\
& & & & (0.343) & (0.338) & (0.347) \\
\hline \\[-1.8ex]
 Observations & 150 & 150 & 150 & 150 & 150 & 150 \\
 $R^2$ & 0.033 & 0.053 & 0.026 & 0.045 & 0.068 & 0.037 \\
 Adjusted $R^2$ & 0.006 & 0.027 & -0.001 & -0.002 & 0.022 & -0.010 \\
 Residual Std. Error & 0.087 (df=145) & 0.086 (df=145) & 0.087 (df=145) & 0.087 (df=142) & 0.086 (df=142) & 0.087 (df=142) \\
 F Statistic & 1.239$^{}$ (df=4; 145) & 2.017$^{*}$ (df=4; 145) & 0.965$^{}$ (df=4; 145) & 0.948$^{}$ (df=7; 142) & 1.475$^{}$ (df=7; 142) & 0.786$^{}$ (df=7; 142) \\
\hline
\hline \\[-1.8ex]
\textit{Note:} & \multicolumn{6}{r}{$^{*}$p$<$0.1; $^{**}$p$<$0.05; $^{***}$p$<$0.01} \\
\end{tabular}
\end{table}

## ECB Regressions

In [29]:
# Read in surprise data for ECB
vstoxx = pd.read_excel('volatility_data.xlsx',sheet_name='VSTOXX',usecols=['Date','Price'])
vstoxx['Date'] = pd.to_datetime(vstoxx['Date'], errors='coerce')
vstoxx['pct_change'] = vstoxx['Price'].pct_change()
vstoxx

           Date    Price  pct_change
0    2000-11-10  25.5200         NaN
1    2000-11-13  28.0500    0.099138
2    2000-11-14  25.5800   -0.088057
3    2000-11-15  25.1000   -0.018765
4    2000-11-16  24.9600   -0.005578
...         ...      ...         ...
6106 2024-11-04  20.9586   -0.006419
6107 2024-11-05  19.8482   -0.052981
6108 2024-11-06  18.4866   -0.068601
6109 2024-11-07  16.7385   -0.094560
6110 2024-11-08  16.7768    0.002288

[6111 rows x 3 columns]

In [30]:
ecb['Date'] = pd.to_datetime(ecb['Date'])
vstoxx['Date'] = pd.to_datetime(vstoxx['Date'])

In [31]:
ecb_combined = pd.merge(ecb, vstoxx, on='Date', how='inner')
ecb_combined.rename(columns={'Target': 'target', 'Path': 'path'}, inplace=True)
ecb_combined

,Date,fk_score,dc_score,wc,PoJ,CCI,target,path,QE,Price,pct_change
0,2001-02-01,10.633333,9.330000,1344,0.035017,0.061118,0.469688,0.033036,-0.021171,21.7500,-0.022472
1,2001-03-01,12.333333,9.503333,658,0.040000,0.060662,2.899933,3.844687,0.696180,23.3800,0.003003
2,2001-04-11,10.966667,8.820000,1071,0.036667,0.059348,11.101716,11.882244,2.519214,25.3500,-0.044118
3,2001-05-10,12.833333,9.516667,1345,0.048333,0.080366,-18.132955,-10.909472,-8.366147,21.2000,-0.064843
4,2001-06-07,12.800000,9.456667,1238,0.051667,0.089485,1.286506,-1.036969,1.020805,19.9700,0.000501
...,...,...,...,...,...,...,...,...,...,...,...
225,2023-05-04,9.066667,8.930000,1483,0.051667,0.083232,-5.793791,-6.520874,-1.029808,20.8326,0.044591
226,2023-06-15,12.300000,9.260000,1688,0.090000,0.158171,1.131847,-1.265959,3.839601,13.7205,-0.035520
227,2023-07-27,9.966667,8.996667,1538,0.060000,0.095342,-1.354523,-4.555295,1.355185,14.9653,-0.070461
228,2023-09-14,10.133333,9.160000,1565,0.058535,0.098020,6.162280,-0.003078,3.274754,14.7497,-0.106306
229,2023-10-26,10.733333,9.170000,1536,0.076936,0.137099,-0.892840,-5.638575,3.041789,21.5031,0.045093

In [32]:
# different slopes positive and negative
ecb_combined['target_positive'] = ecb_combined['target'].apply(lambda x: x if x > 0 else 0)
ecb_combined['target_negative'] = ecb_combined['target'].apply(lambda x: x if x < 0 else 0)
ecb_combined['path_positive'] = ecb_combined['path'].apply(lambda x: x if x > 0 else 0)
ecb_combined['path_negative'] = ecb_combined['path'].apply(lambda x: x if x < 0 else 0)
ecb_combined['qe_positive'] = ecb_combined['QE'].apply(lambda x: x if x > 0 else 0)
ecb_combined['qe_negative'] = ecb_combined['QE'].apply(lambda x: x if x < 0 else 0)

In [33]:
ecb_models = [
    {
        'name': 'FK',
        'formula': 'pct_change ~ fk_score + target + path + QE'
    },
    {
        'name': 'DC',
        'formula': 'pct_change ~ dc_score + target + path + QE'
    },
    {
        'name': 'CCI',
        'formula': 'pct_change ~ CCI + target + path + QE'
    },
    {
        'name': 'FK (Separated Surprises)',
        'formula': 'pct_change ~ fk_score + target_positive + target_negative + path_positive + path_negative + qe_positive + qe_negative'
    },
    
    {
        'name': 'DC (Separated Surprises)',
        'formula': 'pct_change ~ dc_score + target_positive + target_negative + path_positive + path_negative + qe_positive + qe_negative'
    },
    {
        'name': 'CCI (Separated Surprises)',
        'formula': 'pct_change ~ CCI + target_positive + target_negative + path_positive + path_negative + qe_positive + qe_negative'
    }
]

ecb_results = []
for model in ecb_models:
    regression = smf.ols(formula=model['formula'], data=ecb_combined)
    results = regression.fit()
    ecb_results.append(results)

In [34]:
# Latex Output for ECB regressions
stargazer = Stargazer(ecb_results)
stargazer.custom_columns([model['name'] for model in ecb_models], [1 for _ in ecb_models])

latex_table = stargazer.render_latex()

print(latex_table)
with open("regression_table.tex", "w") as f:
    f.write(latex_table)

\begin{table}[!htbp] \centering
\begin{tabular}{@{\extracolsep{5pt}}lcccccc}
\\[-1.8ex]\hline
\hline \\[-1.8ex]
& \multicolumn{6}{c}{\textit{Dependent variable: pct_change}} \
\cr \cline{2-7}
\\[-1.8ex] & \multicolumn{1}{c}{FK} & \multicolumn{1}{c}{DC} & \multicolumn{1}{c}{CCI} & \multicolumn{1}{c}{FK (Separated Surprises)} & \multicolumn{1}{c}{DC (Separated Surprises)} & \multicolumn{1}{c}{CCI (Separated Surprises)}  \\
\\[-1.8ex] & (1) & (2) & (3) & (4) & (5) & (6) \\
\hline \\[-1.8ex]
 CCI & & & -0.222$^{*}$ & & & -0.178$^{}$ \\
& & & (0.123) & & & (0.125) \\
 Intercept & -0.082$^{**}$ & -0.109$^{}$ & 0.011$^{}$ & -0.081$^{**}$ & -0.138$^{}$ & 0.005$^{}$ \\
& (0.037) & (0.098) & (0.013) & (0.038) & (0.100) & (0.015) \\
 QE & -0.003$^{}$ & -0.003$^{}$ & -0.003$^{}$ & & & \\
& (0.003) & (0.003) & (0.003) & & & \\
 dc_score & & 0.010$^{}$ & & & 0.013$^{}$ & \\
& & (0.010) & & & (0.010) & \\
 fk_score & 0.006$^{*}$ & & & 0.005$^{*}$ & & \\
& (0.003) & & & (0.003) & & \\
 path & 0.001$^{}$ & 0.000$^{}$ & -0.000$^{}$ & & & \\
& (0.002) & (0.002) & (0.002) & & & \\
 path_negative & & & & -0.001$^{}$ & -0.001$^{}$ & -0.001$^{}$ \\
& & & & (0.002) & (0.002) & (0.002) \\
 path_positive & & & & 0.003$^{}$ & 0.002$^{}$ & 0.002$^{}$ \\
& & & & (0.002) & (0.002) & (0.002) \\
 qe_negative & & & & 0.003$^{}$ & 0.003$^{}$ & 0.002$^{}$ \\
& & & & (0.005) & (0.005) & (0.005) \\
 qe_positive & & & & -0.007$^{}$ & -0.007$^{}$ & -0.007$^{}$ \\
& & & & (0.005) & (0.005) & (0.005) \\
 target & -0.000$^{}$ & 0.000$^{}$ & 0.001$^{}$ & & & \\
& (0.002) & (0.002) & (0.002) & & & \\
 target_negative & & & & -0.003$^{}$ & -0.003$^{}$ & -0.002$^{}$ \\
& & & & (0.003) & (0.003) & (0.003) \\
 target_positive & & & & 0.001$^{}$ & 0.002$^{}$ & 0.002$^{}$ \\
& & & & (0.003) & (0.003) & (0.003) \\
\hline \\[-1.8ex]
 Observations & 230 & 230 & 230 & 230 & 230 & 230 \\
 $R^2$ & 0.024 & 0.012 & 0.022 & 0.045 & 0.037 & 0.039 \\
 Adjusted $R^2$ & 0.006 & -0.005 & 0.004 & 0.015 & 0.007 & 0.009 \\
 Residual Std. Error & 0.068 (df=225) & 0.068 (df=225) & 0.068 (df=225) & 0.068 (df=222) & 0.068 (df=222) & 0.068 (df=222) \\
 F Statistic & 1.362$^{}$ (df=4; 225) & 0.693$^{}$ (df=4; 225) & 1.257$^{}$ (df=4; 225) & 1.487$^{}$ (df=7; 222) & 1.221$^{}$ (df=7; 222) & 1.288$^{}$ (df=7; 222) \\
\hline
\hline \\[-1.8ex]
\textit{Note:} & \multicolumn{6}{r}{$^{*}$p$<$0.1; $^{**}$p$<$0.05; $^{***}$p$<$0.01} \\
\end{tabular}
\end{table}

## BoE Regressions

In [35]:
# Read volatility data for BoE (IVI)
ivi = pd.read_excel('volatility_data.xlsx',sheet_name='IVI',usecols=['Date','Price'])
ivi['Date'] = pd.to_datetime(ivi['Date'], errors='coerce')
ivi['pct_change'] = ivi['Price'].pct_change()
ivi

           Date  Price  pct_change
0    2000-11-12  20.27         NaN
1    2000-11-13  22.56    0.112975
2    2000-11-14  21.27   -0.057181
3    2000-11-15  20.20   -0.050306
4    2000-11-16  19.86   -0.016832
...         ...    ...         ...
6027 2024-11-04  17.00   -0.005266
6028 2024-11-05  17.27    0.015882
6029 2024-11-06  16.16   -0.064273
6030 2024-11-07  14.58   -0.097772
6031 2024-11-08  14.63    0.003429

[6032 rows x 3 columns]

In [36]:
boe['Date'] = pd.to_datetime(boe['Date'])
ivi['Date'] = pd.to_datetime(ivi['Date'])

In [37]:
boe_combined = pd.merge(boe, ivi, on='Date', how='inner')
boe_combined.rename(columns={'Target': 'target', 'Path': 'path'}, inplace=True)
boe_combined

,Date,fk_score,dc_score,wc,PoJ,CCI,target,path,QE,Price,pct_change
0,2015-08-06,12.000000,9.336667,1075,0.063917,0.126272,-0.018978,-0.064462,0.016628,12.41,0.029022
1,2015-09-10,13.000000,9.440000,783,0.069224,0.131845,0.001886,0.001799,0.001956,27.73,0.116794
2,2015-10-08,14.066667,10.466667,836,0.057524,0.107406,0.002819,-0.007969,-0.003020,16.73,-0.155477
3,2015-11-05,10.700000,9.420000,954,0.088777,0.181475,-0.007861,-0.062228,0.005537,15.32,0.035135
4,2015-12-10,12.200000,9.240000,740,0.075412,0.143364,0.003291,-0.012618,0.007348,17.18,-0.008656
...,...,...,...,...,...,...,...,...,...,...,...
62,2023-12-14,11.433333,9.223333,914,0.105299,0.207808,0.003475,0.048683,-0.026891,11.78,-0.002540
63,2024-02-01,9.933333,9.113333,877,0.105528,0.200285,-0.002369,0.070990,-0.008510,12.46,-0.017350
64,2024-03-21,10.433333,9.283333,697,0.104382,0.205239,-0.001065,-0.033679,-0.001218,9.92,-0.042471
65,2024-05-09,8.900000,9.486667,783,0.110360,0.250235,0.008155,-0.034409,0.002543,11.71,-0.066188
66,2024-06-20,10.633333,9.300000,587,0.096697,0.187677,-0.022648,-0.076606,0.009735,12.64,-0.013271

In [38]:
# different slopes positive and negative
boe_combined['target_positive'] = boe_combined['target'].apply(lambda x: x if x > 0 else 0)
boe_combined['target_negative'] = boe_combined['target'].apply(lambda x: x if x < 0 else 0)
boe_combined['path_positive'] = boe_combined['path'].apply(lambda x: x if x > 0 else 0)
boe_combined['path_negative'] = boe_combined['path'].apply(lambda x: x if x < 0 else 0)
boe_combined['qe_positive'] = boe_combined['QE'].apply(lambda x: x if x > 0 else 0)
boe_combined['qe_negative'] = boe_combined['QE'].apply(lambda x: x if x < 0 else 0)

In [39]:
boe_models = [
    {
        'name': 'FK',
        'formula': 'pct_change ~ fk_score + target + path + QE'
    },
    {
        'name': 'DC',
        'formula': 'pct_change ~ dc_score + target + path + QE'
    },
    {
        'name': 'CCI',
        'formula': 'pct_change ~ CCI + target + path + QE'
    },
    {
        'name': 'FK (Separated Surprises)',
        'formula': 'pct_change ~ fk_score + target_positive + target_negative + path_positive + path_negative + qe_positive + qe_negative'
    },
    
    {
        'name': 'DC (Separated Surprises)',
        'formula': 'pct_change ~ dc_score + target_positive + target_negative + path_positive + path_negative + qe_positive + qe_negative'
    },
    {
        'name': 'CCI (Separated Surprises)',
        'formula': 'pct_change ~ CCI + target_positive + target_negative + path_positive + path_negative + qe_positive + qe_negative'
    }
]

boe_results = []
for model in boe_models:
    regression = smf.ols(formula=model['formula'], data=boe_combined)
    results = regression.fit()
    boe_results.append(results)

In [40]:
# Latex Output for BOE regressions
stargazer = Stargazer(boe_results)
stargazer.custom_columns([model['name'] for model in boe_models], [1 for _ in boe_models])

latex_table = stargazer.render_latex()

print(latex_table)
with open("regression_table.tex", "w") as f:
    f.write(latex_table)

\begin{table}[!htbp] \centering
\begin{tabular}{@{\extracolsep{5pt}}lcccccc}
\\[-1.8ex]\hline
\hline \\[-1.8ex]
& \multicolumn{6}{c}{\textit{Dependent variable: pct_change}} \
\cr \cline{2-7}
\\[-1.8ex] & \multicolumn{1}{c}{FK} & \multicolumn{1}{c}{DC} & \multicolumn{1}{c}{CCI} & \multicolumn{1}{c}{FK (Separated Surprises)} & \multicolumn{1}{c}{DC (Separated Surprises)} & \multicolumn{1}{c}{CCI (Separated Surprises)}  \\
\\[-1.8ex] & (1) & (2) & (3) & (4) & (5) & (6) \\
\hline \\[-1.8ex]
 CCI & & & 0.151$^{}$ & & & 0.123$^{}$ \\
& & & (0.193) & & & (0.199) \\
 Intercept & 0.001$^{}$ & -0.279$^{}$ & -0.031$^{}$ & -0.010$^{}$ & -0.262$^{}$ & -0.020$^{}$ \\
& (0.084) & (0.224) & (0.035) & (0.086) & (0.228) & (0.037) \\
 QE & 0.471$^{}$ & 0.519$^{}$ & 0.487$^{}$ & & & \\
& (0.690) & (0.683) & (0.687) & & & \\
 dc_score & & 0.029$^{}$ & & & 0.027$^{}$ & \\
& & (0.024) & & & (0.024) & \\
 fk_score & -0.000$^{}$ & & & 0.001$^{}$ & & \\
& (0.007) & & & (0.007) & & \\
 path & 0.454$^{**}$ & 0.480$^{**}$ & 0.437$^{**}$ & & & \\
& (0.205) & (0.203) & (0.204) & & & \\
 path_negative & & & & 0.246$^{}$ & 0.270$^{}$ & 0.269$^{}$ \\
& & & & (0.339) & (0.335) & (0.338) \\
 path_positive & & & & 0.616$^{*}$ & 0.653$^{**}$ & 0.579$^{*}$ \\
& & & & (0.328) & (0.325) & (0.333) \\
 qe_negative & & & & 1.264$^{}$ & 1.245$^{}$ & 1.201$^{}$ \\
& & & & (1.122) & (1.098) & (1.109) \\
 qe_positive & & & & -0.713$^{}$ & -0.594$^{}$ & -0.606$^{}$ \\
& & & & (1.157) & (1.135) & (1.150) \\
 target & -0.420$^{}$ & -0.511$^{}$ & -0.427$^{}$ & & & \\
& (0.317) & (0.319) & (0.313) & & & \\
 target_negative & & & & -0.421$^{}$ & -0.491$^{}$ & -0.408$^{}$ \\
& & & & (0.470) & (0.464) & (0.462) \\
 target_positive & & & & -0.716$^{}$ & -0.794$^{}$ & -0.722$^{}$ \\
& & & & (0.665) & (0.661) & (0.663) \\
\hline \\[-1.8ex]
 Observations & 67 & 67 & 67 & 67 & 67 & 67 \\
 $R^2$ & 0.090 & 0.112 & 0.099 & 0.117 & 0.137 & 0.123 \\
 Adjusted $R^2$ & 0.032 & 0.054 & 0.041 & 0.013 & 0.034 & 0.019 \\
 Residual Std. Error & 0.076 (df=62) & 0.075 (df=62) & 0.075 (df=62) & 0.076 (df=59) & 0.075 (df=59) & 0.076 (df=59) \\
 F Statistic & 1.537$^{}$ (df=4; 62) & 1.948$^{}$ (df=4; 62) & 1.703$^{}$ (df=4; 62) & 1.121$^{}$ (df=7; 59) & 1.333$^{}$ (df=7; 59) & 1.180$^{}$ (df=7; 59) \\
\hline
\hline \\[-1.8ex]
\textit{Note:} & \multicolumn{6}{r}{$^{*}$p$<$0.1; $^{**}$p$<$0.05; $^{***}$p$<$0.01} \\
\end{tabular}
\end{table}